extend layout

block content

  h2 Silo: #{app.name}
  
  i URL: #{app.web_url}
  
  | &nbsp; | &nbsp;
 
  h4 Addons

  ul
    each addon in addons
      li #{addon.name} - #{addon.plan.name}

  a(href="/apps") List of Silos