extend layout

block content

  .hero-unit
    h1 Get a Silo?
    p Get started now. Choose a name and build your content namespace.
    form.form-search(action="/create", method="post")
      .control-group
        .controls
          .input-append
            input(type="text", name="appname", class="span3 input-xxlarge", placeholder="Enter a content name...") 
            span.add-on(style="text-align: left; width: 150px;") 
              b .silos.io

        button.btn.btn-primary.btn-large(type="submit") Get Started >>  

  .row
    .span4
      h4 Rapid Setup

      p Use this option to setup and account
        and start building your content. Your 
        first goal is to make the content onramp
        fast and easy. 

     .span4
      h4 Free Your Content

      p Set your data free. Take your CMS 
        and slice your data free. Use our 
        content store, API and pluggable 
        management and display tools.

      a(href="/apps") List Silos >>

    .span4
      h4 API First

      p All our hosted content stores come
        with a schema drive API. Full JSON
        APIs to enable our pluggable approach
        to CMSs.